@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url('Vector.svg'); /* Default background image */
    background-size: cover;
    background-color: #F3EEE7;
    font-family: 'Roboto', sans-serif;
    color: black;
}
  
html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}
  
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    border-radius: 2rem;
}

.card img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
  
.about-section {
    padding: 50px;
    text-align: center;
    color: black;
}

.about-section h1 {
    font-size: 230%;
}
  
.container {
    padding: 0 16px;
}
  
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
  
.title {
    color: grey;
}
  
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgba(0, 122, 255, 0.8);
    text-align: center;
    cursor: pointer;
    width: 100%;
}
  
.button:hover {
    background-color: #555;
}
  
@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
}