@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

nav {
    float: flex;
    font-size: 140%;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    margin: 0; 
    padding: 0; 
    list-style: none;
    
}

nav li {
    display: inline-block;
    margin-left: 3%; 
    padding-top: 1%;
}

nav a {
    color: black; 
    text-decoration: none;
    z-index: 10;
}

nav li:hover {
    font-weight: bold;
}